
@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/Templates/material_able-main-admin-tema/assets/css/bootstrap/css/bootstrap.min.css">

<form method="post">
    <div class="container">
        <br /><br />
        <label>Kullanıcı Adı</label>
        <input type="text" name="Username" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="password" name="Password" class="form-control" />
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
    </div>
</form>