@model List<KidKinder.Entities.Teacher>
@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="p-3">
    <h2>Öğretmen Listesi</h2>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Öğretmen Adı</th>
            <th>Alanı</th>
            <th colspan="2"></th>
        </tr>
        @foreach (var öğretmen in Model)
        {
            <tr>
                <td>@öğretmen.TeacherId</td>
                <td>@öğretmen.NameSurname</td>
                <td>@öğretmen.Title</td>
                <td><a href="btn btn-danger">Sil</a></td>
                <td><a href="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>

    <a href="btn btn-primary">Yeni Öğretmen Girişi</a>
</div>